
@{
    ViewBag.Title = "lichKham";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Bác sĩ</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Thông tin các bác sĩ
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr style="background-color:#34caaa">
                                        <th>#</th>
                                        <th>Ngày</th>

                                        <th>Tên Bác sĩ</th>
                                        <th>Tên người khám</th>
                                        <th>Triệu chứng</th>
                                        <th>
                                            Trạng thái
                                        </th>
                                        <th>Kết quả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                      @{int a = 1; }
                                    @foreach (var i in Model)
                                    {
                                    <tr class="gradeU">
                                        <td>@a</td>
                                        <td>@i.ngaydat</td>
                                        <td>@i.BacSi.tenbs</td>
                                        <td>@i.hoten</td>
                                        <td>@i.trieuchung</td>

                                        @if (i.tinhTrang == true)
                                        {
                                            <td >
                                                <label>Đã khám</label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Chưa khám
                                            </td>
                                           
                                        }

                                        @if (i.tinhTrang == true)
                                        {
                                            <td>
                                                <a href="@Url.Action("xemketqua","admin",new {id =i.idDatLich })">Xem kết quả</a>
                                            </td>
                                        }
                                        else
                                        {
                                    <td>
                                        <a href="@Url.Action("ghiketqua","admin",new {id =i.idDatLich })">Ghi kết quả</a>
                                       
                                    </td>
                                            
                                        }


                                    </tr>
                                        a++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>