@model IEnumerable<myDoctor.Models.ViewModel.KetQuaKhamViewModel>
@{
    ViewBag.Title = "xemKetQua";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="row contact_form"  novalidate="novalidate" style="width:auto; height:auto; margin-top:150px; margin-left:450px; margin-right:350px">
   

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" r data-dismiss="modal" aria-hidden="true">
                  
                    <a href="~/Admin/lichkham">  &times;</a>

                </button>
                <h4 class="modal-title" id="myModal-label" style="text-align:center; font-size:30px; font-weight:bold">Thông tin kết quả</h4>

                <div>
                    <div class="modal-body" style="padding:30px">

                        @foreach (var item in Model)
                        {
                            <div class="form-group">
                                <label>ID lịch khám: </label>
                                <label>@item.idDatLich</label>
                            </div>
                            @* <div class="form-group">
                <label>ID kết quả: </label>
                <label>@item.idKetQua</label>
            </div>*@
                            <div class="form-group">
                                <label>Kết quả khám: </label>
                                <label>@item.ketqua</label>
                            </div>
                            <div class="form-group">
                                <label>Hướng dẫn uống thuốc: </label>
                                <label>@item.hdthuoc</label>
                            </div>
                            <div class="form-group">
                                <label>Phí khám: </label>
                                <label>@item.tienkham</label>
                            </div>
                            <div class="form-group">
                                <label>Bác sĩ khám: </label>
                                <label>@item.tenbs</label>
                            </div>
                            <div class="form-group">
                                <label>Chuyên khoa: </label>
                                <label>@item.ChuyenKhoa </label>
                            </div>
                            <div class="form-group">
                                <label>Danh sách thuốc: </label>
                              
                                        <a href="@Url.Action("check","admin",new {id =item.idKetQua})"><label style="color:red"> Xem </label></a>
                                   
                            </div>
                        }
                    </div>
                    <div class="modal-footer">

                        <a href="~/Admin/lichkham">  Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
