<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <title>Quốc Bảo - phòng khám chuyên nghiệp</title>

    <link rel="stylesheet" href="../Scripts/assets/css/maicons.css">

    <link rel="stylesheet" href="../Scripts/assets/css/bootstrap.css">

    <link rel="stylesheet" href="../Scripts/assets/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="../Scripts/assets/vendor/animate/animate.css">

    <link rel="stylesheet" href="../Scripts/assets/css/theme.css">
   
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/css/style.css" />
</head>

<body>
    <header >
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 text-sm">
                        <div class="site-info">
                            <a href="#"><span class="mai-call text-primary"></span> +84 917982707</a>
                            <span class="divider">|</span>
                            <a href="#"><span class="mai-mail text-primary"></span> lehoquocbao9@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right text-sm">
                        <div class="social-mini-button">
                            <a href="https://www.facebook.com/"><span class="mai-logo-facebook-f"></span></a>
                            <a href="https://twitter.com/"><span class="mai-logo-twitter"></span></a>
                            <a href="https://dribbble.com/"><span class="mai-logo-dribbble"></span></a>
                            <a href="https://www.instagram.com/"><span class="mai-logo-instagram"></span></a>
                        </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .topbar -->

        <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style=" z-index: 2">
            <div class="container">
                <a class="navbar-brand" href="~/Home/index"><span class="text-primary">Quốc Bảo</span>-Health</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupport">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/home/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/About/about">Thông tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Doctor/doctor">Bác sĩ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/News/news">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Contact/contact">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            @using myDoctor.Models
                            @{
                                KhachHang kh = (KhachHang)Session["taikhoan"];
                            }
                            @if (Session["taikhoan"] == null)
                            {
                                <a class="btn btn-primary ml-lg-3" href="~/home/login">Đăng nhập / Đăng kí</a>
                            }
                            else
                            {

                                <div class="dropdown">
                                    <button onclick="hamDropdown()" class="nut_dropdown btn btn-primary ml-lg-3">Chào: @kh.tenkh</button>
                                    <div style="margin-left: 15px;" class="noidung_dropdown">
                                        <a href="~/user/account">tài khoản</a>
                                        <a href="~/user/lichkham">Lịch khám</a>
                                        <a href="/user/logout">Đăng xuất</a>
                                    </div>
                                </div>
                            }
                        </li>
                    </ul>
                </div> <!-- .navbar-collapse -->
            </div> <!-- .container -->
        </nav>
    </header>

    <div style="z-index:2">
        @RenderBody()
    </div>
    <hr />

    <footer class="page-footer">
        <div class="container">
            <div class="row px-md-3">
                <div class="col-sm-6 col-lg-3 py-3">
                    <h5>Phòng khám</h5>
                    <ul class="footer-menu">
                        <li><a href="#">Về chúng tối</a></li>
                        <li><a href="~/Doctor/doctor">Bác sĩ</a></li>

                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 py-3">
                    <h5>Hơn nữa</h5>
                    <ul class="footer-menu">
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Cá nhân</a></li>
                        <li><a href="#">Tham gia </a></li>

                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 py-3">
                    <h5>Liên hệ</h5>
                    <p class="footer-link mt-2">351 Phước Thành, P5, Đà Lạt - Lâm Đồng</p>
                    <a href="#" class="footer-link">0917982707</a>
                    <a href="#" class="footer-link">lehoquocbao9@gmail.com</a>

                    <h5 class="mt-3">Truyền thông xã hội</h5>
                    <div class="footer-sosmed mt-3">
                        <a href="#" target="_blank"><span class="mai-logo-facebook-f"></span></a>
                        <a href="#" target="_blank"><span class="mai-logo-twitter"></span></a>
                        <a href="#" target="_blank"><span class="mai-logo-google-plus-g"></span></a>
                        <a href="#" target="_blank"><span class="mai-logo-instagram"></span></a>
                        <a href="#" target="_blank"><span class="mai-logo-linkedin"></span></a>
                    </div>
                </div>
            </div>

            <hr>


        </div>
    </footer>
    <script src="../Scripts/assets/css/code.js"></script>

    <script src="../Scripts/assets/js/jquery-3.5.1.min.js"></script>

    <script src="../Scripts/assets/js/bootstrap.bundle.min.js"></script>

    <script src="../Scripts/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <script src="../Scripts/assets/vendor/wow/wow.min.js"></script>

    <script src="../Scripts/assets/js/theme.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
