
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using myDoctor.Models
@{
    KhachHang kh = (KhachHang)Session["taikhoan"];
}

<div class="page-hero bg-image overlay-dark" style="z-index:1; background-image: url(../Scripts/assets/img/bg_image_1.jpg);">
    <div class="hero-section">
        <div class="container text-center wow zoomIn">
            <span class="subhead">Phòng khám tư nhân</span>
            <h1 class="display-4">Quốc Bảo</h1>
            <a class="btn btn-primary" href="#lichkham">Đặt lịch</a>
        </div>
    </div>
</div>


<div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Tư vấn</span>từ bác sĩ</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Thăm</span>-khám tận tâm</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Tiết </span>kiệm chi phí</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->

    <div class="page-section pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1>Chào mừng đến với <br> Quốc Bảo - Health </h1>
                    <p class="text-grey mb-4">
                        Bằng những nỗ lực không ngừng học hỏi, sáng tạo của toàn thể nhân viên, áp dụng những tiến bộ khoa học kỹ thuật,....
                        Chúng tôi tự hào đã, đang và sẽ mang đến cho Quý khách những dịch vụ có chất lượng hoàn hảo và giá cả hợp lý nhất.
                        Phòng khám Quốc Bảo là thương hiệu được đông đảo khách hàng tin tưởng và giới chuyên gia đánh giá cao.
                        Phòng khám Quốc Bảo nổi tiếng với các
                        phương pháp khám chữa bệnh tân tiến với đội ngũ y bác sỹ có nhiều năm kinh nghiệm tại các thành phố lớn.
                    </p>
                    <a href="~/About/about" class="btn btn-primary">Thông tin</a>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="img-place custom-img-1">
                        <img src="../Scripts/assets/img/bg-doctor.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .bg-light -->
</div> <!-- .bg-light -->




<div class="page-section">
    <div class="container" id="lichkham">
        <h1 class="text-center wow fadeInUp" id="#2">Đặt lịch</h1>
        @using (Html.BeginForm("Index", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @ViewData["Loi3"]
            <div class="row mt-5 ">
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                    <input type="text" class="form-control" name="hoten" placeholder="Họ tên..">
                    @ViewData["Loi0"]
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                    <input type="number" class="form-control" name="tuoi" placeholder="Tuổi..">
                    @ViewData["Loi11"]
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                  
                       
                    <input type="datetime-local" class="form-control"  name="datetime">
                        
                    @ViewData["Loi1"]
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                    <select name="bacsi" class="form-control">
                        <option value="1">Lê Hồ Quốc Bảo</option>
                        <option value="2">Phùng A Bin</option>
                    </select>
                </div>

                <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <textarea name="mota" class="form-control" rows="3" placeholder="Mô tả triệu chứng.."></textarea>
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                    <label>Ảnh chi tiết</label>
                    <input type="file" class="form-control" name="fileUpload">

                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Đặt lịch hẹn</button>
        }


        </div>
    </div> <!-- .page-section -->

    <div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
        <div class="container py-5 py-lg-0">
            <div class="row align-items-center">
                <div class="col-lg-4 wow zoomIn">
                    <div class="img-banner d-none d-lg-block">
                        <img src="../assets/img/mobile_app.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8 wow fadeInRight">
                    <h1 class="font-weight-normal mb-3">
                        Dễ dàng sử dụng, dễ dàng đặt lịch
                    </h1>
                    <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
                    <a href="#" class="ml-2"><img src="../assets/img/app_store.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div> <!-- .banner-home -->
    <style>
        .dathen .wpcf7-form-control-wrap .wpcf7-select,
        .dathen .wpcf7-form-control-wrap .wpcf7-text,
        .dathen .wpcf7-form-control-wrap .wpcf7-textarea {
            padding: 8px 15px;
            font-style: italic;
            border-radius: 5px;
        }

        .wpcf7 form .wpcf7-response-output {
            margin: 0em 0.5em 1em;
        }

        .dathen .wpcf7-form-control-wrap .wpcf7-textarea {
            height: 150px;
        }

        .dathen .wpcf7-form-control-wrap .wpcf7-select {
            height: 42px;
        }

        .dathen .wpcf7-form-control-wrap {
            margin-bottom: 15px;
        }

        .dathen .wpcf7-submit {
            border-radius: 5px;
            background-color: #e6af5f;
            font-weight: 600;
            transition: 0.3s;
            box-shadow: 1px 1px 1px;
        }

            .dathen .wpcf7-submit:hover {
                background: #efb96d;
            }

        .sgpb-popup-builder-content-204 .wpcf7 .wpcf7-response-output {
            font-size: 14px;
            text-align: center;
            color: #fff;
            background: #cf9d55;
            border-width: 1px;
            padding: 5px;
        }

        .dlk-col-2 .box-icon.box-icon-style-circle {
            box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.5);
        }

        .dathen .vc_row {
            margin: 0;
        }

        .xdsoft_datetimepicker.xdsoft_noselect.xdsoft_default {
            z-index: 2147483647;
        }
    </style>
